
<div id="header" class="header_container">
    <div id="profile">
        <p>{{ session.userInfo.pseudo }}</p>
        {#        <img src="{% static 'ceresia/img/profile.png' %}" alt="Profile picture"/>#}
    </div>
</div>


