<div id="sidebar">
    <img id="poulpy" src="{{ assets("img/ceresia_white.png") }}" alt="IMAGE">
    <div id="nav">
        <a href="/parcours">
            <div class="{% if page == 'parcours' %}active{% endif %} nav_button"><p>Liste des parcours</p></div>
        </a>
        <a href="/statistique">
            <div class="{% if page == 'statistique' %}active{% endif %} nav_button"><p>Statistiques</p></div>
        </a>
    </div>
</div>
