{% extends "accueil.html.twig" %}

    {% block title %}
        <title>Statistiques</title>
    {% endblock %}

{% block content %}

    <div id="statistics_container">

        <h1>Statistiques</h1>

    </div>

{% endblock %}
