{% extends "accueil.html.twig" %}

    {% block title %}
        <title>Liste Parcours</title>
    {% endblock %}

{% block content %}

    <div id="trail_container">

       <h1 id="pageTitle">Liste des Parcours</h1>
        <div id="trail_action_container">
            <button type="button" class="btn btn-danger btn-lg trail_create">Créer un parcours</button>
            <div class="form-group">
                <input type="text" class="form-control" id="trailSearch" aria-describedby="trailSearch" placeholder="Recherche">
            </div>
        </div>




    </div>

{% endblock %}
