{% extends "accueil.html.twig" %}

    {% block title %}
        <title>Liste Parcours</title>
    {% endblock %}

{% block content %}

    <div id="trail_container">

       <h1>Liste des Parcours</h1>

    </div>

{% endblock %}
