{% extends "accueil.html.twig" %}


{% block css %}
    {{ parent() }}

    {% include '_partials/_css_datatable.html.twig' %}
{% endblock %}

{% block title %}
    <title>Utilisateurs</title>
{% endblock %}

{% block content %}

    <div id="users_container">
        <h1 id="pageTitle">Utilisateurs</h1>
        <div class="data-table-header">
            <a href="utilisateurs/addNewUser" class="btn btn-danger btn-lg user_create">Créer un utilisateur</a>
            <div class="form-group">
                <input type="text" class="form-control" id="userSearch" aria-describedby="userSearch" placeholder="Recherche">
            </div>
        </div>
        <table id="user-table" class="display" style="width:100%" data-users="{{ userList }}">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>

    </div>



{% endblock %}

{% block js %}
    {{ parent() }}

    {% include '_partials/_javascript_datatable.html.twig' %}
    <script type="text/javascript" src="{{ assets("js/admin/user_table.js") }}"></script>
{% endblock %}

